:root{
  --height:20px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
  }     
  #listitemcontainer{
    width: 100%;
    background-image: url('http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c53d.png');
    background-color:hsla(0,0%,0%,1);
    background-repeat: no-repeat;
    background-size: 60px 50px;
    background-position-x: 5%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 0em;
    position: relative; 
  
    
  }
  #listitemcontainer #listitem{
    display: grid;
    grid-template-columns:repeat(4,20%);
    justify-content: right;
  }
  #listitemcontainer #listitem li{
    list-style: none;
    text-align: center;
    padding: 2px;
  }
  #listitemcontainer #listitem li>a{
    text-decoration: none;
    color: blueviolet;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #listitemcontainer #listitem li:hover a{
    color:#fff;
    border-bottom:2px solid #fff;
    }
    #listitemcontainer #listitem li::first-letter{
      text-transform: capitalize;
      }
      
  .active{
    border-bottom: 2px solid darkred;
  }
  #listitemcontainer #listitem2{
    background-color: #000;
    position: relative;
    padding-left: 6%;
  }
  #listitemcontainer #inputcontainer{
    position: absolute;
    width:40%;
  }
  #listitemcontainer #inputcontainer input{
    width: 100%;
    padding: 4px;
    border-radius:4px;
  }
  
  #listitemcontainer #itemcart{
    position: absolute;
    right:10%;
    width:5%;
  text-align: center;
  }
  #listitemcontainer #itemcart .fa-shopping-cart{
    color:blueviolet;
  }
  #listitemcontainer #itemcart:hover .fa-shopping-cart{
    color:#fff;
  }
  #listitemcontainer #itemcart .sup{
    color:#fff;
    width:15px;
    line-height:15px;
    height:15px;
    border-radius:50%;
    font-size:10px;
    top:-4px;
    position: absolute;
    background-color:rgb(255,0,0);
  }
  #listitemcontainer .shoppingcart{
   position: absolute;
    top: 53px; 
   right:8%;
   width:40%;
   height: 0px;
   z-index:1000;
   bottom: 0%;
   overflow: hidden;
   border-radius:7px;
  }
  #listitemcontainer .addClass{
    height:300px; 
    top:53px; 
    transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715); 
  }
  #listitemcontainer .shoppingcart #shoppingcart2{
    background-color: #ddd;
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows:200px 50px 30px; 
    grid-row-gap: 3px;
    text-align: center;
  }
  #listitemcontainer .shoppingcart #shoppingcart2 #itemadded{
    display: grid;
    grid-template-columns:100px 100px 25px;
    grid-column-gap: 3px;
    grid-row-gap:2px;
    overflow: hidden;
    padding: 4px 0px 4px 4px;
    overflow-y: scroll
  }
  #listitemcontainer .shoppingcart #shoppingcart2 #itemadded div{
    padding: 2px;
    border-bottom: 2px solid hsl(0,0%,30%); 
    font-family: sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    padding: 3px;
  }
  #listitemcontainer .shoppingcart #shoppingcart2 #itemadded img{
    width:100px;
    height:100px;
    object-fit: cover;
    border-radius:3px;
  }
  #listitemcontainer .shoppingcart #shoppingcart2 #totalcontainer{
    display: grid;
    grid-template-columns:100px 100px;
    grid-column-gap: 3px;
    justify-content: center;
    background-color:#000; 
    color:blueviolet;
    text-transform: capitalize;
    font-size: 12px;
    border-radius:3px;
    font-family:'Roboto Condensed', sans-serif;
  }
  #listitemcontainer .shoppingcart #shoppingcart2 #checkoutcontianer .clearcart{
    font-size:12px;
    font-family:'Montserrat', sans-serif;
    text-transform: capitalize;
    height:30px;
    width: 80px;
    border-radius:0.1%;
  }
  #listitemcontainer .shoppingcart #shoppingcart2 #checkoutcontianer .clearcart:nth-child(1){
    background-color: hsl(0, 3%, 100%);
  }
  #listitemcontainer .shoppingcart #shoppingcart2 #checkoutcontianer .clearcart:nth-child(1):hover{
    background-color: hsl(0, 5%, 50%);
  }
  #listitemcontainer .shoppingcart #shoppingcart2 #checkoutcontianer .clearcart:nth-child(2){
    background-color: hsl(118, 45%, 22%);
  }
  #listitemcontainer .shoppingcart #shoppingcart2 #checkoutcontianer .clearcart:nth-child(2):hover{
    background-color: hsl(123, 100%, 25%);
  }
  #viewitem{
      background-color:hsl(0,0%,95%);
    padding: 30px;
      width: 100%;  
      box-sizing: border-box;
      position: relative; 
    text-align: center;
  }
  #viewitem h3{
   text-transform: uppercase;
   font-family: 'Armata', sans-serif;
   color: grey;
   font-weight: bold;
  }
#item{
  position: relative;
  width:100%;
  height: 100vw;
  display:grid;
  box-sizing: border-box;
  grid-template-columns: repeat(4,auto);
  grid-gap: 10px;
  padding: 10px 20px;
}

#item .itemsection{
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
#item .itemsection .spanz{
  position: absolute;
  width: 50px;
  text-align: center;
  padding: 4px;
  color: hsla(0, 0%, 10%,1);
  top:20%;
  left:-22%;
transform:translateY(-50%);
border-radius:1px;
background-color: hsla(0, 0%, 100%, 1);
transition: left 1s ease-in;
}
#item .itemsection:hover .spanz{
  left:0%;
}
#item .itemsection img{
  position: relative;
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: transform 1s ease-out;
}
#item .itemsection:hover img{
  transform: scale(0.9);
}
#item .itemsection div{
  position: absolute;
  background-color:#ddd;
  bottom:0%;
  width: 100%;
  height:20%;
}
#item .itemsection div p{
  position: absolute; 
  top:0%;
  color: #000;
  text-align: center;
  width:100%;
  background-color:#ddd; 
  padding: 4px;
  margin: 0px;
  z-index: 1000;
}
#item .itemsection div h6{
  position: absolute; 
  margin:0px;
  color:#fff;
  text-align:center;
  width:30px;
  background-color:hsl(0,0%,30%); 
  z-index: 1000;
  height:30px;
  line-height: 30px;
  border-radius:50%;
 bottom:0%;
}
#footer1{
  position: relative;
  top:50px;
  border-top: 1px solid #ddd;
display: flex;
justify-content: center;
}
#footer1 #socialm{
  position: relative; 
  width:60%;
  display: grid;
  grid-template-columns:repeat(8,12%);
  justify-content: center;
  align-items: center;
  grid-column-gap: 3px;
  grid-template-rows:70px;
}
#footer1 #socialm li{
  text-align: center;
  list-style: none;
}
#footer1 #socialm li #font1{
  width:25px;
  height:25px;
  display: flex;
  text-decoration:none;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  background-color: #3b5999;
  padding: 1px;
}
#footer1 #socialm li a .fa-facebook{
color:#fff;
}
#footer1 #socialm li #font2{
  width:25px;
  height:25px;
  display: flex;
  text-decoration:none;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  background-color: #e4405f;
  padding: 1px;
}
#footer1 #socialm li a .fa-instgram{
  color:#fff;
  }
  #footer1 #socialm li #font3{
    width:25px;
    height:25px;
    display: flex;
    text-decoration:none;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    background-color: #cd201f;
    padding: 1px;
  }
  #footer1 #socialm li a .fa-youtube{
    color:#fff;
    }
    #footer1 #socialm li:nth-child(3){
      border-right: 1px solid hsla(0, 0%, 10%, 0.5);
    }
    #footer1 #socialm li .creditcard{
      color:rgb(0,0,240); 
      background-color:#fff;
      width:30px;
      height:30px;
      padding: 1px;
    }
    #footer1 #socialm li .fa-cc-stripe{
      color:#8e24aa
    }
    #footer1 #socialm li .fa-cc-jcb{
      color:#b71c1c;
    }
    #footer1 #socialm li .fa-cc-amazon-pay {
      color:#4E342E;
    }
    #footer1 #socialm li .fa-apple-pay{
        color:#d50000;
        color: #000;
        border-radius: 5px;    
      }
  #footer2{
    background-color: hsl(0,0%,95%);
    position: relative;
  width: 100%;
  height:300px;
  margin-top: 70px;
  }
  #footer2 footer{
    display: grid;
    grid-template-columns:repeat(4,25%); 
  }
  #footer2 footer ul h5{
    font-family: 'Armata', sans-serif;
    color:gray;
  letter-spacing: 1px;
    font-weight:bold;
  }
  #footer2 footer ul li{
    padding: 5px 0px;
    list-style: none;
    font-family: 'Karla', sans-serif;
  }
  #footer2 footer ul li a{
    text-decoration: none;
    color:gray;
    font-family: 'Armata', sans-serif;
    font-size: 12px;
  }
  #footer2 footer ul li a:hover{
    color:rgb(0,80,240)
  }
  #copyrightcontainer{
    background-color: #ddd;
    font-size:10px;
    overflow: hidden;
    height:30%;
    padding: 0px 20px;
    display: grid;
    align-content: center;
    font-family: 'Armata', sans-serif;
  }
  #copyrightcontainer #copyright{
    width: 100%;
  }
  #copyrightcontainer #copyright div:first-child{
    float:left;
    list-style: none;
  }
  #copyrightcontainer #copyright div:last-child{
    float:right;
    text-align: right;
    width:50%;
  }
  #copyrightcontainer div>div:last-child li{
    display:inline;
    width:15%;
    border-right: 1.3px solid hsla(0, 0%, 10%, 0.5);
    list-style: none;
    padding: 0px 3px;
    
  }
  #copyrightcontainer div>div:last-child li:last-child{
    border:none;
  }
  #copyrightcontainer div>div:last-child li a{
    text-decoration: none;
    color:hsl(0,0%,30%);
  }
  #copyrightcontainer div>div:last-child li a:hover{
    color:rgb(0,80,240);
  }