:root{
  --color:rgba(12, 0, 0, 0.5);
}
body{
  background-image: linear-gradient(to bottom,#fff ,#fff);
z-index: 1000;
}
*{/*removing the default of all element  */
  margin:0;
  padding: 0;
}
#header{/*styling the header container  */
  margin:0px;
  padding:15px 0px 15px 0px;
  top:0px;
  left:0px;
  right:0px;
  position: relative;
  overflow: hidden;
   background-color: #ddd;
}
#header h1{/*styling the brand/logo  */
  color:#3e3e3e;
  margin:0px;
  padding:0px 0px 0px 20px;
  float:left;
font-family: 'Audiowide', cursive;
}
#header #baricon{
  color:crimson;
  cursor: pointer;
  display: none;
}
#list{/*styling the list item container  */
  margin:8px 0px 0px 40px;
  padding:5px;
  float:left;
  width:50%;
  display: grid;
  grid-template-columns:repeat(4,18%);
  justify-content: center;
  background-color: #ddd;
  border-radius: 2px;
}
#list .listli{
  list-style: none;
}
#list .listli a{/*styling the list item link  */
  color:#3e3e3e;
  text-decoration: none;
  font-size:17px;
  transition: all 100ms linear;
  font-family: 'Roboto Condensed', sans-serif;
}
#list .active a{/*styling the page currently active  */
  background-color:crimson;
  padding: 5px;
  border-radius: 5px;
  color:#f1f1f1;
}
#list .listli a:hover {
   background-color:crimson;
    padding: 5px;
  border-radius: 5px;
  color:#f1f1f1;
  overflow: hidden;
}
#showcase{/*styling the showcase area for the image  */
  height: 500px;
 position:relative;
 overflow: hidden;
}
#showcase img{/*setting the showcase image to its full width  */
  width:100%;
  height:100%;
  position: absolute;
}
#showcase #bar{/* styling the container of the progress bar */
  background-color: #ddd;
  height:8px;
  position:relative;
  top:90%;
  width:300px;
  left:50%;
  transform: translateX(-50%);
}
#showcase #bar #progress{/*styling the progress bar  */
  background-color: crimson;
  height:8px;
  position: absolute;
  transition: width 50ms linear;
}
#aboutmecont{/*styling the about me container  */
  height: 600px;
  width:100%;
  left:0;
  right:0;
  margin:0;
  position: relative;
  padding: 30px 0px 10px 0px;
  background-color: #5C6BC0;
}
#aboutmecont .personal{/*styling the about me header  */
  text-align: center;
  color: #3e3e3e;
   font-family: 'Roboto Condensed', sans-serif;
}
#aboutmecont .personal:nth-child(1){
background-color: #5C6BC0;
color:#ddd;
}
#aboutmecont .pi{
background-color: #ddd;
z-index: 1000;
padding-top: 10px;
}
#aboutmecont #aboutme{/*styling the about me section  */
  display:grid;
  grid-template-columns: repeat(2,200px);
  background: #5C6BC0;
  justify-content: center;
  text-align: left;
 align-items: center;
 height: 300px;
 font-size:14px;
word-spacing:-1px;
 color:#f1f1f1;
 font-family: 'Roboto Condensed', sans-serif;
}
#aboutmecont #aboutme #personalimgC img{
  border-radius: 50%;
  background-color: #C5CAE9;
}
#aboutmecont #portfolio{/*styling the portfolio section   */
   display:grid;
  grid-template-columns: repeat(3,300px);
  justify-content: center;
  background-color: #ddd;
  grid-column-gap: 10px;
  width:100%;
  align-items: center;
  box-sizing: border-box;
}
#aboutmecont #portfolio .projectcont{/*styling the project container  */
position: relative;
background-color: #ddd;
height: 200px;
box-sizing: border-box;
}
#aboutmecont #portfolio .projectcont img {
  position: absolute;
   width:100%;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1px;
  box-shadow: 1px 0px 2px #5C6BC0, 0px 1px 2px #5C6BC0;
}
#aboutmecont #portfolio .projectcont #hidden{
  display: none;
  position: absolute;
  background-color:hsla(0,0%,0%,0.8);
  box-sizing: border-box;
  align-content: center;
}
#aboutmecont #portfolio .projectcont:hover #hidden{
  color:#ddd;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows:repeat(3,40px);
  grid-row-gap: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}
#aboutmecont #portfolio .projectcont #hidden .view{
  color:#ddd;
}
#skill{/*styling the area of specailty/skill  */
  position: relative;
  width:100%;
  background-color: #fff;
  margin-top: 70px;
  color:#3e3e3e;
  height: 100%;
}
#skill #area{
  display: grid;
  grid-template-columns: repeat(3,30%);
  justify-content: space-around;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: justify;
}
#skill h2{
  padding: 15px;
  color:#3e3e3e;
  font-family: 'Audiowide', cursive;
  text-align: center;
  font-size:17px;
}
#skill #area .area h5{
  color:crimson;
}
#skill #area .area{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3px;
}
#contact{
margin-bottom: 20px;
text-align: center;
font-family: 'Roboto Condensed', sans-serif;
}
#contact h4{
  text-align: center;
    padding: 25px 0px 0px 0px;
  color:#3e3e3e;
  font-family: 'Audiowide', cursive;
}
#form{/*styling the contact form  */
  display: grid;
  grid-template-rows: repeat(3,40px);
  justify-content: center;
  grid-row-gap: 5px;
  padding-top: 40px;
  /*grid-template-columns: 40%;*/
}
#form p input,textarea{
  width:95%;
  padding: 5px 5px;
  box-sizing: border-box;
}
#footer1{/* styling the social media contact me section */
  background-color: #3e3e3e;
  padding: 40px;
}
#footer1 h5{
  float: left;
  color:#ddd;
  font-family: 'Audiowide', cursive;
  font-size: 12px;
}
#fontc{
  display: flex;
  padding-left: 40px;
  flex-direction:row;
}
#fontc .font{
  float: left;
  width:20px;
  list-style: none;
  margin-left: 2px;
  }
#fontc .font a{
    color:#fff;
    font-size: 14px;

}
#fontc .font a:hover{
  color:crimson;
}

@media only screen and (max-width: 1000px){
  body{
    overflow-x: hidden;

   }
  #header #baricon{
    display: inline-block;
    padding-left: 10px;
  }
   #list{
    left:-100%;
    position: fixed;
    padding: 10px 0px 10px 4px;
    z-index: 1000;
    height: 150px;
    transition: left 200ms linear;
    z-index: 1000;
    box-shadow: 0px 0px 2px #ddd, 0px 0px 2px #ddd;
   }
    #list .listli{
      display: block;
       grid-column-start: 1;
    grid-column-end: 5;
     overflow: hidden;
     height: 40px;
    }
   #list .listli a{
    display: block;
    margin: 3px 0px 0px 0px;
    width: 95%;
   }
   #header h1{
    text-align: center;
    float:none;
    margin-bottom: 8px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 450px){
 
  body{
    overflow-x: hidden;

   }

  #showcase{ 
    width:440px;
    overflow: hidden;
  }
  #showcase img{
    height: 100%;
    width:100%;
  }
  #aboutmecont{
    max-height: 250px;
  }
  #aboutmecont .personal{
    font-size: 14px;
  }
   #aboutmecont #aboutme{
    height: 40%;
    text-align: center;
    justify-content: center;
  }
  #aboutmecont #aboutme #personalimgC{
    shape-outside: circle();
  }
  #aboutmecont #aboutme #personalimgC img{
    width:100px;
    height: 100px;
    float:right;
    shape-outside: circle();
  }
   #aboutmecont #aboutme div:nth-child(2){
    width:150px;
    float: left;
    height: 100px;
    font-size: 11px;
    word-spacing: 0px;
   }
  #aboutmecont #portfolio{
    height: 40%;
    overflow: hidden;
    padding-top:10px;
  }
  #aboutmecont #portfolio .projectcont img{
     max-width:100px;
     max-height: 100px;
  }
  #aboutmecont #portfolio .projectcont:hover #hidden{
    grid-template-rows:repeat(3,17px);
  }
  #aboutmecont #portfolio .projectcont #hidden{
    max-width:100px;
     max-height: 100px;
  }
  #aboutmecont #portfolio .projectcont #hidden .view{
    font-size: 10px;
    word-break:wrap;
  }
  #skill h2{
    font-size:11px;
  }
  #skill #area .area{
  display: block;
  text-align: justify;
 grid-column-start: 1;
 grid-column-end: 5;
  font-size:11px;
}
 #skill #area .area h5{
  font-size:10px;
 }
 #contact h4{
  font-size:11px;
 }
 #contact p{
  font-size: 11px;
 }
 #contact #form ::placeholder,textarea,input[type="submit"]{
  font-size: 11px;
 }
 
 #footer1 h5{
  font-size: 10px;
  font-family: 'Roboto Condensed', sans-serif;
 }

}

@media only screen and (max-width: 760px) {
 
  #list{
    float: none;
    margin: 0 auto;
  }
  #list .listli a{
    font-size:11px;
   }

  #showcase{
    height: 250px;
  }
  #aboutmecont{
    height: 400px;
  }
  #aboutmecont #aboutme{
    height: 50%;
  }
  }
  #aboutmecont #portfolio{
    height: 50%;
    grid-template-columns: repeat(3,130px);
  }
  #aboutmecont #portfolio .projectcont img {
   height:100%;
   width:100%;
  }
   #aboutmecont #portfolio .projectcont #hidden{
    height:100%;
   }
   #skill{
    text-align: justify;
  }
  #skill #area .area{
  text-align: justify;
}
 #skill #area .area h5{
  text-align: center;
 }
  

}


